<h1>Todas Postagens</h1>
 
<table class="table">
  <tr>
    <th scope="col">Titulo</th>
    <th scope="col">Texto</th>
    <th scope="col"> Opções</th>
  </tr>
 
  <% @artigos.each do |artigo| %>
    <tr>
      <td scope="row"><%= artigo.titulo %></td>
      <td><%= artigo.texto.from(0).to(100) + '...' %></td>
      <td><%= link_to 'Abrir', artigo_path(artigo), :class => 'btn btn-primary'  %>
        <%= link_to 'Editar', edit_artigo_path(artigo), :class => 'btn btn-primary'  %>
        <%= link_to 'Deletar', artigo_path(artigo),
                method: :delete,
                data: { confirm: 'Tem certeza que deseja deletar o post?' }, :class => 'btn btn-primary'  %>
      </td>
    </tr>
  <% end %>
</table>