
<%= form_with(model: [ @artigo, @artigo.comentario.build ], local: true) do |form| %>
  <div class="form-group row">
      <%= form.label :nome, 'Nome:', :class => 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :nome, :class => 'form-control' %>
      </div>
  </div>
  <div class="form-group row">
      <%= form.label :texto, 'Comentário:', :class => 'col-sm-2 col-form-label'  %>
      <div class="col-sm-10">
        <%= form.text_area :texto, :class => 'form-control' %>
      </div>
  </div>
  <div class="form-group row align-items-center">
    <div class="col-sm-2">      
      <%= form.submit "Comentar", :class => 'form-control btn btn-primary'%>
    </div>
  </div>
<% end %>